.tagWrapper, .articleWrapper, .clientWrapper {
  border: 1px solid blue;
  width: 500px;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
  .tag, .article, .client {
    float: left;
    margin-right: 5px;
    background: #d1d1d1;
//    border: 1px dashed green;
  }
}


.tags, .articles, .clients {
  .updateAndDelete > div {
    float: left;
  }
  .marginTop {
    margin-top: 3px;
  }
}

.action {
  border: 1px dashed black;
  text-align: center;
  width: 200px;
  margin-bottom: 2px;
}

.clients {
//  border: 1px solid blue;
  .articles {
//    border: 1px solid green;
    margin-left: 10px;
  }
}

.articlesLeft {
  color: blue;
}

.overview {
  position:absolute;
  top: 300px;
  left: 300px;
  .container {
    float: left;
    margin-right: 50px;
  }
}