.tagWrapper {
  border: 1px solid blue;
  width: 500px;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
}
.tagWrapper .tag {
  float: left;
  margin-right: 5px;
  background: #d1d1d1;
}
.tags .updateAndDelete > div {
  float: left;
}
.tags .updateSubmit {
  margin-top: 3px;
}
ul.tags li{
  float: left;
  list-style: none;
}
.clients .articles {
  margin-left: 10px;
}
.articlesLeft {
  color: blue;
}
