{# src/Acme/PortalBundle/Resources/views/Default/master.html.twig #}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{{ asset('bundles/acmeportal/css/main.css') }}"/>
  {% block headCss %}
  {% endblock %}
</head>
<body>


{% block body %}
{% endblock %}

{#{% block javascripts %}#}
{#{% javascripts '@Acme/PortalBundle/Resources/public/js/*' %}#}
<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/lib/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sonatacore/select2/select2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/main.js') }}"></script>

{% block customJavascript %}
{% endblock %}
{#{% endjavascripts %}#}
{#{% endblock %}#}
</body>
